$color-primary: #58b8a5;
$color-primary-light: #b0d9cd;
$color-primary-dark: #026473;
$color-secondary: #ffe600;

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #b6b6b6;
$color-gray-light: #e6e6e6;
$color-gray-dark: #4b4b4b;

$font-primary: "Baloo Bhai",
cursive;

.text-color-gray {
    color: $color-gray-dark;
}

.is-family-primary {

    font-family: "baloo Bhai",
        cursive !important;
    font-weight: 100;
}


.background-primary {
    background-color: $color-primary-dark !important;
}

.background-primary-dark {
    background-color: $color-primary;
}

.max-width {
    max-width: 800px;
    margin: 0 auto;
}

.is-family-secondary {

    font-family: "montserrat",
        sans-serif !important;

}

$font-secondary: "Montserrat",
sans-serif;

$break-large: 1199px;
$break-medium: 991px;
$break-small: 768px;
$break-tiny: 575px;
