$color-primary: #58b8a5;
$color-primary-light: #b0d9cd;
$color-primary-dark: #026473;
$color-secondary: #ffe600;

$color-white: #ffffff;
$color-black: #000000;
$color-gray: #b6b6b6;
$color-gray-light: #e6e6e6;
$color-gray-dark: #4b4b4b;

$font-primary: "Baloo Bhai",
cursive;
$font-secondary: "Montserrat",
sans-serif;
